<a href="https://colab.research.google.com/github/NicolasGonzalez-T/edd_1310_2021/blob/master/1deOctubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a Python 3

## Variables

Las variables son de tipo dinámico, se declaran automáticamente el tipo de dato

**Ejemplo**

escuela = "FES Aragon"

Automáticamente lo detecta como string

In [4]:
#Cadenas
escuela = 'FES Aragon'
print(escuela)
print("----------")
''' De multiple linea '''
frase = """
Frase
de
multiple
linea
y
es
un
tipo
de
dato
"""

#Enteros
edad = 18

#Flotantes
altura = 1.71

#Booleanos
Fumador = False

print(frase)
print(edad)
print(altura)

FES Aragon
----------

Frase
de
multiple
linea
y
es
un
tipo
de
dato

18
1.71

## Print
Con comas

Con el signo +

Con format()

Con el operador f""

In [29]:
nombre = "jose cardenas"
edad = 13
print(nombre, edad)

jose cardenas 13

In [9]:
#Concatenacion
print(nombre + str(edad))  #Concatena únicamente las cadenas

jose13

In [14]:
#Con formato "Su nombre es jose y su edad es 13 años"
print("Su nombre es {0} y su edad es de {1} años".format(nombre, edad) )
print("Su nombre es %s y su edad es de %i años" % (nombre, edad) )

Su nombre es jose y su edad es de 13 años
Su nombre es jose y su edad es de 13 años

In [15]:
#Con el operador f""
print(f"Su nombre es {nombre} y su edad es {edad} años")

Su nombre es jose y su edad es 13 años

## Caracter de escape

 \n  ---> Da un salto de linea

 \t  ---> Mete un tab

 \\"  ---> Pone las comillas "

 \a  ---> Da un beep (Solo en computadoras viejas)

 \\\  ---> Pone la diagonal invertida \

## Ayuda de tipos de dato en Python

dir()  ---> Te dice los métodos de cada clase

help() ---> Como el dir(), pero a más detalle

In [ ]:
# str, int, float, bool ...
help(int)

In [37]:
print(nombre.capitalize())
print(nombre.upper(), end = " <-----> ")
print(nombre.title())

Jose cardenas
JOSE CARDENAS <-----> Jose Cardenas

In [ ]:
help(print)

## Clase String

Es manejada como un arreglo (C o Java) o lista (Python)

In [42]:
telefono = "Huawei mate pro"
print(telefono[0])

H

### Slicing (rebanado)

Se usa primero el selector [`inico`, `final`, `incremento`] (El inicio y el incremento son opcionales)

In [48]:
print(telefono[7:11])

#invertir una cadena
print(telefono[::-1])

#incremento negativo
print(telefono[:-4:-1])

#indice negativo
print(telefono[-3::1])

mate
orp etam iewauH
orp
pro

### Metodos de String

Existen varios métodos muy útiles en esta clase

In [69]:
facultad = "     facultad de estudios superiores aragon      \n"
print(facultad)
print(facultad.count("s"))  #cuenta el numero de elementos de la cadena
print(facultad.find("s"))   #Da el indice de la letra entre parentesis hasta al primera coincidencia
print(facultad.strip() )    #Remueve los espacios en blanco al principio y al final y los saltos de linea

print(facultad.split("t"))  #Corta la cadena usando un caracter como referencia
print(facultad.strip().split(" "))

     facultad de estudios superiores aragon

4
18
facultad de estudios superiores aragon
['     facul', 'ad de es', 'udios superiores aragon      \n']
['facultad', 'de', 'estudios', 'superiores', 'aragon']