<a href="https://colab.research.google.com/github/NicolasGonzalez-T/edd_1310_2021/blob/master/6deOctubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String parte 2

In [5]:
numeros_txt = "    1, 2, 3, 4    ,       5,     35,       15    ,     12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[j] = int( numeros_txt[j].strip())

print(numeros_txt)

    1, 2, 3, 4    ,       5,     35,       15    ,     12
['1', ' 2', ' 3', ' 4    ', '       5', '     35', '       15    ', '     12']
[1, 2, 3, 4, 5, 35, 15, 12]

# Range
range(`start`, `stop`, `incremento`)

In [10]:
print(range(1, 10, 3))

rango = range(1, 10, 2)
for x in rango:
  print(x)

rango = range(10)
for x in rango:
  print(x)

range(1, 10, 3)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

# Listas

- Mutables
- Se declaran con [ ]
- Selector [ int ]
- Pueden ser de cualquier tipo y mezclado

# Tuplas
- No mutable
- Se declara con ( )
- Selector [ int ]


# Diccionarios
- Son mutables
- Conjunto de pares llaves : valor
- Equivalentes a los objetos JSON de JavaScript

# Conjuntos
- Representación de la teoría de conjuntos

In [11]:
#Listas
frutas = ['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranja']
print(frutas)

cosas = ['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul', 'Verde']]
print(cosas)

frutas[2] = 'Fresa'     # frutas[2] = frutas[2].capitalize()
print(frutas)

#Agregar a una lista
frutas.append('Aguacate')
print(frutas)

#Insertar elemento
frutas.insert(2, 'Sandía')
print(frutas)

#Concatenar strings con los elementos de la lista
fecha = ['06', '10', '2020']  # 06/10/2020
print(fecha)
fecha_string = "/".join(fecha)
print(fecha_string)

['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranja']
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul', 'Verde']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandía', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020

In [28]:
#Eliminar elementos con pop()
cosas = ['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul', 'Verde']]

print(cosas)
cosas.append('Libro')
cosas.append('Lápiz')
print(cosas)

algo = cosas.pop()
print(cosas)
print(algo)

algo = cosas.pop(2)
print(cosas)
print(algo)

#Eliminar cosas con remove
cosas.remove(2)
print(cosas)

#Vaciar una lista
cosas.clear()
print(cosas)

#Ordenar listas   #Para que funcione, los datos en la lista deben tener congruencia entre ellos
print(frutas)
frutas.sort()   #Ordena con respecto al diccionario
print(frutas)

['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul', 'Verde']]
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul', 'Verde'], 'Libro', 'Lápiz']
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul', 'Verde'], 'Libro']
Lápiz
['Cuaderno', 2, True, False, ['Rojo', 'Azul', 'Verde'], 'Libro']
3.1416
['Cuaderno', True, False, ['Rojo', 'Azul', 'Verde'], 'Libro']
[]
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandía']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandía']

In [42]:
#Slicing

cosas = ['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul', 'Verde']]
print(cosas[3:5])
print(cosas)
print(cosas[0][3:5])

numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
print(numeros[8:13])

#Sustituir rebanadas
#sustituir por [-2, -2] --------> [0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
numeros[8:13] = [-2, -2]
print(numeros)

#Preguntar por existencia
print(-2 in numeros)
print(100 in numeros)

[True, False]
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul', 'Verde']]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
True
False

## Listas de multiple dimension

Listas dentro de listas

In [68]:
computadoras = ['HP', "Mac Book pro 17''", 'Mate Book', 'Lenovo Legion']
oss = ['Windows', 'Linux', 'Android', 'iOS']

computo = [computadoras, oss]

print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5::-1])

dbms = [ ["MySQL" , "Open Source", False] , ["MS SQL Server", "De paga", True] ] #Sistema gestor de base de datos

computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', "Mac Book pro 17''", 'Mate Book', 'Lenovo Legion']
['Windows', 'Linux', 'Android', 'iOS']
Mate Book
Mate
ovoneL
[['HP', "Mac Book pro 17''", 'Mate Book', 'Lenovo Legion'], ['Windows', 'Linux', 'Android', 'iOS'], [['MySQL', 'Open Source', False], ['MS SQL Server', 'De paga', True]]]
MySQL
De paga